name: build

on:
  workflow_call:
    inputs:
      cache:
        type: boolean

env:
  OWNER: ${{ github.repository_owner }}
  FILE: base-image
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_LOAD: 1
  BASE_IMAGE_VERSION: ${{ github.ref_name }}-${{ github.sha }}
  APT_HTTP_PROXY: http://172.17.0.1:8000

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - uses: containerbase/internal-tools/setup@e70c7ffc3ef2c42b9688277179d892c5173da6dd # v3.10.6
        with:
          save-cache: true

  lint:
    runs-on: ubuntu-22.04
    needs:
      - setup
    timeout-minutes: 10

    steps:
      - uses: containerbase/internal-tools/setup@e70c7ffc3ef2c42b9688277179d892c5173da6dd # v3.10.6

      - name: lint
        run: |
          pnpm prettier

  build:
    runs-on: ${{ matrix.arch.os }}
    name: build (${{ matrix.arch.name }})
    needs:
      - setup
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        arch:
          - name: x86_64
            os: ubuntu-22.04
            tag: amd64
          - name: aarch64
            os: ubuntu-22.04-arm
            tag: arm64

    permissions:
      contents: read
      packages: write

    steps:
      - uses: containerbase/internal-tools/setup@e70c7ffc3ef2c42b9688277179d892c5173da6dd # v3.10.6
        with:
          apt-proxy: true

      - name: compute channel
        if: inputs.cache
        run: |
          if [[ "${{github.ref_name}}" == "next" ]]; then
            echo "CHANNEL=${{github.ref_name}}" >> "$GITHUB_ENV"
          elif [[ "${{startsWith(github.ref_name, 'maint/')}}" == "true" ]]; then
            local ref="${{github.ref_name}}"
            echo "CHANNEL=${ref:6}" >> "$GITHUB_ENV"
          fi

      - name: build image
        run: docker buildx bake

      - name: Docker registry login
        if: inputs.cache
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: cache images
        if: inputs.cache
        run: docker buildx bake build-cache
        env:
          ARCH: ${{ matrix.arch.tag }}

  success:
    needs:
      - setup
      - lint
      - build
    runs-on: ubuntu-22.04
    timeout-minutes: 1

    if: always()

    steps:
      - name: Fail for failed or cancelled setup
        if: |
          needs.setup.result == 'failure' ||
          needs.setup.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled build
        if: |
          needs.build.result == 'failure' ||
          needs.build.result == 'skipped'
        run: exit 1
