name: promote

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  merge_group:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DRY_RUN: ${{ github.ref_name != 'main' && github.ref_name != 'next' && !startsWith(github.ref_name, 'maint/')}}
  OWNER: ${{ github.repository_owner }}
  FILE: base-image
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_LOAD: 1
  BASE_IMAGE_VERSION: ${{ github.ref_name }}-${{ github.sha }}
  APT_HTTP_PROXY: http://172.17.0.1:8000

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      packages: write
    with:
      cache: ${{ github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'next' || startsWith(github.ref_name, 'maint/')) }}

  release:
    needs:
      - build
    runs-on: ubuntu-24.04
    timeout-minutes: 120
    permissions:
      contents: write
      packages: write
      issues: write
      id-token: write

    steps:
      - run: df -h

      # Ensure docker is using /mnt/docker for data storage on x86_64 runners to avoid disk space issues
      - name: Prepare docker
        run: |
          echo '{"data-root": "/mnt/docker"}' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker
          docker info

      - name: docker-config
        uses: containerbase/internal-tools@f84621abbc75c66d17dff3782dbed0438430aec6 # v3.14.26
        with:
          command: docker-config

      # full checkout for semantic-release
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false
          fetch-depth: 0
          filter: blob:none

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - uses: containerbase/internal-tools/setup@f84621abbc75c66d17dff3782dbed0438430aec6 # v3.14.26
        with:
          checkout: false
          apt-proxy: true

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: Docker registry login
        if: env.DRY_RUN != 'true'
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: semantic-release
        if: github.event_name == 'push'
        run: pnpm semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: df -h
