name: promote

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  merge_group:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DRY_RUN: ${{ github.ref_name != 'main' }}
  OWNER: ${{ github.repository_owner }}
  FILE: base
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_LOAD: 1
  NODE_VERSION: 18.18.2 # renovate: datasource=node depName=node
  CONTAINERBASE_VERSION: ${{ github.sha }}
  APT_HTTP_PROXY: http://172.17.0.1:8000

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      checks: write
  
  release:
    needs: [build]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: docker-config
        uses: containerbase/internal-tools@42b38115f410e963add94abec41ae81398e633c5 # v3.0.6
        with:
          command: docker-config

      # full checkout for semantic-release
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 0

      - uses: sigstore/cosign-installer@1fc5bd396d372bee37d608f955b336615edf79c8 # v3.2.0

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
        with:
          node-version: ${{ env.NODE_VERSION }}
      #    cache: yarn

      # - name: Installing dependencies
      #   run: yarn install

      # - name: prepare apt proxy
      #   run: sudo yarn prepare:proxy

      # - name: semantic-release
      #   if: github.event_name == 'push'
      #   run: yarn semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
